
body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(105, 118, 6);
}
.cont{
    margin: 0px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.heading {
    background-color: aqua;
    height: 50px;
    width: 400px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.h1{
    background-color: rgb(91, 23, 158);
    margin: 3px;
    padding:3px;
}
.container{
    background-color: rgb(204, 12, 12);
    height: 60vh;
    width: 100%;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_cointainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.txt{
    font-size: 40px;
    font-weight: bold;
}
.button_cointainer{
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    color: white;
    border: 0px;
    cursor: pointer;
}
#start{
  background-color: rgb(4, 87, 4);
}
#stop{
background-color: rgb(104, 104, 227);
}
#reset{
background-color: rgb(179, 20, 20);
}
